.container {
  .select {
    display: flex;
    justify-content: flex-end;

    >button {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-left: 1rem;
      cursor: pointer;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .dropdown{
      width: 200px;
      border-radius: 0.5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
  }

  .eventContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;

    >h1 {
      font-weight: 600;
    }
  }
}