.container {
  display: flex;
  flex-direction: column;
  width: 600px;

  .selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    .item {
      background-color: #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      transition: all 0.3s ease;
      color: #2e2e2e;

      &.active {
        background-color: #2e2e2e;
        color: white;
      }
    }
  }

  .gender {
    display: flex;
    flex-direction: column;

    >div {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 20px;
      margin-bottom: 20px;

      >* {
        display: flex;
        gap: 10px;
      }
    }
  }
}