.container {
  display: flex;
  gap: 1rem;


  .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    .detailsContent {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background-color: white;
      border: 1px solid #E5E5E5;
      border-radius: 0.5rem;
      max-height: 67.3vh;
      overflow-y: auto;

      .row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 40vh;

        .dob {
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          justify-content: space-between;

          >h6 {
            >span {
              font-weight: 500;
            }

            font-size: 0.9rem;
          }
        }

        .gender {
          display: flex;
          justify-content: space-around;
          padding: 0 1rem;
          align-items: center;

          >div {
            display: flex;
            gap: 0.5rem;
          }
        }
      }

      >div {
        border: 1px solid #E5E5E5;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        gap: 1rem;

        >h4 {
          font-weight: 500;
        }

        >p {
          min-height: 1.3rem;
        }
      }

      .addPrimaryDoctor,
      .addSecondaryDoctor {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
          cursor: pointer;
          color: #2b3344;
          transition: 0.3s;

          &:hover {
            color: red;
          }

        }

      }
    }


    .actions {
      display: flex;
      border: 1px solid #E5E5E5;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 0.5rem;
      gap: 0.5rem;
      width: 100%;

      .saveBtn,
      .cancelBtn,
      .btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.7rem 1.6rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid #E5E5E5;
        color: #2b3344;
      }

      .btn {

        &:first-of-type {
          border-radius: 0.5rem 0 0 0.5rem;
          background-color: #2b3344;
          color: white;
        }

        &:nth-child(2) {
          border-radius: 0;
        }

        &:last-of-type {
          border-radius: 0 0.5rem 0.5rem 0;
        }

        &:hover {
          background-color: #E5E5E5;
        }
      }
    }
  }
}